.container {
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 42px;
  }
  @media screen and (min-width: 1222px) {
    width: 1222px;
    margin: 0 auto;
  }
}
.advantage__list {
  list-style: none;
  color: var(--color-on-surface);
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1222px) {
    flex-direction: row;
    padding: 0 42px;
  }
}
.advantage__list-item {
  background-color: #e5efe2;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-start: 0;
  margin-block-end: 0;
  border-radius: 12px;
  position: relative;
  &--second {
    background-color: #e4e9f3;
  }
  &--thirdy {
    background-color: #f4f1e4;
  }
  @media screen and (min-width: 768px) {
    padding: 24px;
  }
  @media screen and (min-width: 1222px) {
    width: calc((100% - (16px * 2)) / 3);
    gap: 24px;
  }
}
.advantage__icon-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  background-color: #428a2f;
  border-radius: 50%;
  padding: 12px;
  &--second {
    background-color: #3d63ac;
  }
  &--thirdy {
    background-color: #b09e3d;
  }
  @media screen and (min-width: 768px) {
    padding: 16px;
  }
}
.advantage__icon {
  width: 24px;
  height: 24px;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 40px;
  }
}
.advantage__heading {
  font-weight: 700;
  font-size: 26px;

  line-height: 120%;
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    font-size: 32px;
  }
}
.advantage__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  margin-bottom: calc(16px + 48px); //gap+button H
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1222px) {
    margin-bottom: calc(24px + 48px);
  }
}
.advantage__btn {
  background-color: #fff;
  padding: 14px 19px 15px 24px;
  color: var(--color-on-surface);
  border-radius: 24px;
  text-decoration: none;
  letter-spacing: -3%;
  display: inline-flex;
  gap: 6px;
  width: fit-content;
  position: absolute;
  bottom: 24px;
  left: 24px;
  &:hover {
    color: #001aff;
  }
  @media screen and (min-width: 1222px) {
    bottom: 32px;
    left: 32px;
  }
}
.advantage__btn-arrow {
  display: inline-block;
  stroke: currentColor;
  fill: currentColor;
  width: 12px;
  height: 9px;
}
